@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --primary-color: rgba(255, 255, 255, 1);
  --second-color: rgba(227, 178, 125, 1);
  --fonfo-color: rgba(17, 17, 17, 1);
}

body{
  margin:0;
  padding:0;
  font-family: "Poppins";
}

.container{
  padding: 15px 80px;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
}

.nav-header ul{
  display: flex;
  list-style: none;
}

.nav-header ul li a{
  margin: 0px 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
}

.nav-header ul li a.active{
  color: var(--second-color);
}

.nav-header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos-header > div{
  margin-right: 35px;
}

.Contenedor-principal{
  background: var(--fonfo-color);
  width: auto;
}

.contenedor-header{
  display: flex;
}

.boton-header{
  position: absolute;
  top: 230px;
  left: 660px;
  width: 100px;
  z-index: 1;
}

.mani-header{
  position: absolute;
  top: 580px;
  left: 500px;
  width: 50px;
}

.adorno-header{
  position: absolute;
  top: 90px;
  left: 110px;
  width: 50px;
}
.texto{
  margin: 0px 0px 0px 20px;
  height: 200px !important;
}

.Contenedor-one h1{
  font-size: 80px;
  font-weight: 350;
  margin: 10%;
  color: var(--primary-color);
}
.Contenedor-one p{
  font-size:15px;
  font-weight:0;
  margin-left: 10%;
  color: var(--primary-color);
  width: 350px;
}
.icons-companys{
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin-top:8%;
  margin-left: 20%;
}
.Contenedor-two{
  /* background-color: #222222; */
  color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.Contenedor-two{
  background: url(/images/square.svg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 75% 0%;
  position: relative;
}

.Contenedor-two{
  height: 500px;
}

.parte-imagen{
  margin: 3px;
}
.Contenedor-two > div:first-child > img {
  width: 300px;
  height: 400px;
}

.nav-dato{
  width: 104px;
  height: 93px;
}

.nav-cajita{
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-left: 5%;
}
.nav-cajita > div > h4{
  margin: 0px 0px;
}

.nav-cajita > div > p{
  margin: 0px;
}

.nav-cajita > img{
  width: 100px;
  height: 80px;
}

.Contenedor-principal-dos{
  background: var(--fonfo-color);
  color: var(--primary-color);
}
.caja-uno{
  display: flex;
}

.img-two-ii{
  position: absolute;
  top: 1075px;
  left: 875px;
}

.circulo-gris{
  position: absolute;
  top: 845px;
  left: 650px;
}

.texto-dos > h1{
  font-weight: 600;
  font-size: 40px;
}

.texto-dos > h5{
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #888888;
}

.segunda-parte > p{
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 16px;
  color: #AAAAAA;
}

.segunda-parte > h4{
  position: absolute;
  margin-top: 35px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.18em;
  color: #FFFFFF;
}

.listas-letras > h1{
  font-size: 50px;
  font-weight: 600;
}

.listas-letras > p{
font-weight: 500;
font-size: 16px;
color: #AAAAAA;
}
.listas{
  display: flex;
  justify-content: space-between;
}

.listas-letras{
  display: flex;
  margin-right: 10px;
}

.caja-dos-ii > hr{
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.caja-dos{
  display: flex;
  justify-content: space-around;
}

.Contenedor-principal-tres{
  background: var(--fonfo-color);
  color: var(--primary-color);
}

.members > h3{
font-weight: 600;
font-size: 22px;
margin-bottom: 0;
}

.members > p{
font-family: 'Plus Jakarta Sans';
font-weight: 500;
font-size: 13px;
color: #888888;
margin-top: 5px;
}

.botones{
  display: flex;
  justify-content: flex-end;
}

.btn{
  width: 45px;
  height: 45px;
  border-radius: 50%; 
  border: none;
  margin-left: 10px;
  background-color: #454545;
}

.puntitos{
  display: flex;
  justify-content: center;
}

.button-footer:hover{
  background-color: #dc9141;
}

.button-footer{
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 13px;
  line-height: 182.5%;  
  color: #FFFFFF;
}

.Quick{
  margin-bottom: 30px;
  font-family: 'Poppins';
  text-transform: uppercase;
  color: #FFFFFF;
}

.texto-footer{
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 15px;
  color: #AAAAAA;
}

.link-footer{
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 15px;
  color: #AAAAAA;
}
/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/